<h1>{{title}}</h1>
<mat-card style="margin-top: 15px;">
  <mat-card-title>Search exercise</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input (keyup)='filterExercise$.next($event.target.value)' matInput placeholder="enter the exercise name here" type="text" #filter
      />
    </mat-form-field>

  </mat-card-content>
</mat-card>
<div class="exerciseList">
  <div *ngFor="let exercise of (exercises | async | exerciseFilter : filterExerciseName)">
    <mat-card class="exerciseInList" data-cy="exercise" >
      <mat-card-title> {{exercise.name}} </mat-card-title>
      <mat-card-subtitle> {{exercise.description | shortDescription}} </mat-card-subtitle>
      <mat-card-content>
        <hr>
        <a mat-list-item [routerLink]="['../',exercise.id]"><button class="btn btn-info pull-right" >View details</button></a>
        <hr>
        <button class="btn btn-secondary pull-right" (click)="addToMyExercises(exercise.id)">Add to my exercises</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>