<h1>{{title}}</h1>
<mat-card style="margin-top: 15px;">
  <mat-card-title>Search exercise</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input (keyup)='filterExercise$.next($event.target.value)' matInput placeholder="enter search term here" type="text" #filter
      />
    </mat-form-field>

  </mat-card-content>
</mat-card>
<div class="exerciseList">
    <div *ngFor="let exercise of (exercises | async | exerciseFilter : filterExerciseName)">
        <mat-card class="exerciseInList">
          <mat-card-title> {{exercise.name}} </mat-card-title>
          <mat-card-subtitle> {{exercise.description}} </mat-card-subtitle>
          <mat-card-content>
            <a mat-list-item [routerLink]="['../',exercise.id]" >View details</a>
          </mat-card-content>
        </mat-card>
      </div>
</div>
