<mat-card>
  <mat-card-title>Add exercise</mat-card-title>
  <mat-card-content>
    <form [formGroup]="exercise">
      <mat-form-field>
        <!--aria label is gwn voor screen reader gebruikers -->
        <input matInput aria-label="name input" placeholder="name" type="text" formControlName="name" required />
        <mat-error *ngIf="exercise.get('name')['errors'] && exercise.get('name').touched">
          {{getErrorMessage(exercise.get('name')['errors'])}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Difficulty</mat-label>
        <mat-select formControlName="difficulty">
          <mat-option *ngFor="let difficulty of difficulties; let i = index;" [value]="i+1">
            {{difficulty}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <!--aria label is gwn voor screen reader gebruikers -->
        <input matInput aria-label="youtube url" placeholder="Youtube URL" type="text" formControlName="youtubeURL" required />
      </mat-form-field>

      <div formArrayName="exerciseMuscles" *ngFor="let m of exercise.get('exerciseMuscles')['controls']; let i = index">
        <div [formGroupName]="i">
          <mat-form-field>
            <mat-label>Muscle</mat-label>
            <mat-select formControlName="muscleId">
              <mat-option *ngFor="let muscle of muscles$ | async" [value]="muscle">
                {{muscle.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <button mat-raised-button color="primary" [disabled]="exercise.get('exerciseMuscles')['controls'].length>4" (click)="addMuscleToFormArray()">Add Muscle</button>
      <button type="submit" mat-raised-button [disabled]="!exercise.valid">
        Add Exercise
      </button>
    </form>
  </mat-card-content>
</mat-card>

{{exercise.value | json}}
