<mat-card>
  <mat-card-title> {{exercise.name}} </mat-card-title>
  <mat-card-content>
    <div class="youtubeVid">
        <div class="videoWrapper">
            <iframe width="420" height="315" [src]="exercise.youtubeURL | youtube" allowfullscreen="true">
              <!--src="{{exercise.youtubeURL | youtube}}" werkt niet, waarom?-->
            </iframe>
          </div>
    </div>
    <mat-card class="extraInfo">
        <p class="mainMuscle">Difficulty</p>
        <p>{{difficultyStars}}</p>
        <hr>        
        <p class="mainMuscle">Main muscle<span *ngIf="exercise.exerciseMuscles.length>1">s</span> used:</p>
        <div class="muscles" *ngFor="let em of exercise.exerciseMuscles">        
          <span>{{em.name}}</span>
        </div>
        <hr>
        <!-- PIPE VOOR DIFFICULTY!! !-->
        <p class="mainMuscle">Description</p>
        <p>{{exercise.description}}</p>
    </mat-card>
    
  </mat-card-content>
</mat-card>